git+https://github.com/espnet/espnet.git@3856d998ee0b2fa20f7b8fa48553754f33ed6e63
espnet_model_zoo
tensorflow==2.15.0.post1
pyopenjtalk
datasets
torchaudio
typeguard==4.4.0
jiwer
fastapi
uvicorn
fugashi
pykakasi
tensorflow
basic-pitch[onnx]
audiobox_aesthetics
transformers
zhconv
git+https://github.com/sea-turt1e/kanjiconv
soundfile
PyYAML
gradio
pydantic==2.10.6
google-genai
funasr
librosa
accelerate
# SingMOS dependencies
s3prl
# MiniMax dependencies
optimum-quanto