git+https://github.com/espnet/espnet
espnet_model_zoo
pyopenjtalk
datasets
torchaudio
typeguard==4.4.0
jiwer
fastapi
uvicorn
fugashi
pykakasi
basic-pitch[onnx]
audiobox_aesthetics
transformers
s3prl
zhconv
git+https://github.com/sea-turt1e/kanjiconv
soundfile
PyYAML
